body {
    background: #3f3f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.calculator {
    height: 500px;
    width: 300px;
    background-color: #222;
    padding: 20px;
    border-radius: 50px;
}

.display {
    color: white;
    font-size: 60px;
    text-align: right;
    padding: 20px;
    overflow: hidden;
    height: 90px;
    line-height: 90px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    height: 65px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    background: #333;
    cursor: pointer;
}

.bth:hover{
    filter: brightness(1.2);
}

.btn:active{
    transform: scale(0.92);
    opacity: 0.7;
}


.gray {
    background: #a5a5a5;
    color: black;
}

.orange {
    background: #ff9f0a;
}

.equal {
    background: #ff9f0a;
}

.zero {
    grid-column: span 2;
    border-radius: 40px;
    text-align: left;
    padding-left: 25px;
}
